{% extends 'base.html' %}

{% set style_files = [url_for('static', filename='css/profile.css')] %}
{% set script_files = [url_for('static', filename='js/delete.js'), url_for('static', filename='js/server.js')] %}

{% if user['photo'] %}
    {% set photo_url = url_for("static", filename="img/profile-photos/" + user['photo']) %}
{% else %}
    {% set photo_url = url_for('static', filename='img/steve.png') %}
{% endif %}

{% block content %}

<div class="content">
    <div class="left-item" style="width: 40%">
        <img class="avatar" src="{{ photo_url }}">
        <a style="display: block;" href="/edit">change details</a>
    </div>
    <div class="right-item">
        <p>username: {{ user['username'] }}</p>
        {% if user['email'] %}
            <p>email: {{ user['email'] }}</p>
        {% endif %}
        {% if user['youtube'] or user['twitch'] %}
        links:
        {% endif %}
        {% if user['youtube'] %}
            <a href="{{ user['youtube'] }}" target="_blank">youtube</a>
        {% else %}
        {% endif %}
        {% if user['twitch'] %}
            <a href="{{ user['twitch'] }}" target="_blank">twitch</a>
        {% endif %}
        {% if user['money'] %}
            <p>Баланс: {{ user['money'] }} Р</p>
        {% endif %}
        {% set active_server_id = user['active_mc_server'] %}
        {% if user['mc_servers'] %}
                <p>servers (<a href="server/new">create new</a>):</p>
            {% for server in user['mc_servers'] %}
                    {% set server_id = server['id'] %}
                    <p>
                        <input class="custom-radio" type="radio" name="server", value="{{ server['id'] }}" id="{{ server['id'] }}" {% if server_id == active_server_id %} checked {% endif %}>
                        <label for="{{ server['id'] }}">
                            <a href="/server/{{ server['id'] }}" >{{ server['name'] }}</a>
                            (<button class="error delete-server" value="{{ server['id'] }}">delete</button>)
                        </label>
                        </input>
                    </p>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}