@media(max-width:1920px) {

    body{
        background-image: url(../img/minecraft_texture.jpg);
    }
    .container{
        word-wrap: break-word;
        box-sizing: border-box;
        width: fit-content;
        margin: 0 auto;
        margin-top: 5pt;
        text-align: center;
    }

    #navbar ul{
        display: none;
        background-color: #f90;
        position: absolute;
        top: 100%;
    }
    #navbar li:hover ul { display: block; }
    #navbar, #navbar ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    #navbar {
        background-image: url(../img/minecraft_texture_top.jpg);
        repeat-x: repeat;
        height: 45pt;
        background-color: #666;
        width: 100%;
    }
    #navbar li {
        float: left;
        position: relative;
        height: 100%;
    }
    #navbar li a {
        font-size: 17pt;
        display: block;
        padding: 6px;
        width: max-content;
        color: #fff;
        text-decoration: none;
        text-align: center;
    }
    #navbar ul li { float: none; }
    #navbar li:hover { background-color: #f90; }
    #navbar ul li:hover { background-color: #666; }

}