.form-control{
    width: 60%;
    display: block;
    margin: 0 auto;
}
.input-item{
    text-align: center;
    margin-right: 2pt;
}
.form{
    max-width: -webkit-fill-available;
    float: left;
}
#preload{
    max-width: -webkit-fill-available;
    border-radius: 10px 10px;
}