<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="" method="post">
        {{ form.hidden_tag() }}

        {{ form.name.label() }}
        {{ form.name() }}
        {{ form.name.errors }}
        <br>
        {{ form.host.label() }}
        {{ form.host() }}
        {{ form.host.errors }}
        <br>
        {{ form.rcon_port.label() }}
        {{ form.rcon_port() }}
        {{ form.rcon_port.errors }}
        <br>
        {{ form.rcon_password.label() }}
        {{ form.rcon_password() }}
        {{ form.rcon_password.errors }}
        <br>
        {{ form.nickname.label() }}
        {{ form.nickname() }}
        {{ form.nickname.errors }}
        <br>
        {{ form.make_active.label() }}
        {{ form.make_active() }}
        {{ form.make_active.errors }}
        <br>
        {{ form.submit() }}
    </form>
</body>
</html>